<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYCulD5Ae9pMKEJRIIFZOl0XlmVb_nvqY</string>
	<key>GCM_SENDER_ID</key>
	<string>832281901721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practicalExam</string>
	<key>PROJECT_ID</key>
	<string>practical-exam-2974f</string>
	<key>STORAGE_BUCKET</key>
	<string>practical-exam-2974f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832281901721:ios:8549ab830eab1730029608</string>
</dict>
</plist>